@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    We believe that software is the ultimate product of the hands and the mind. And we take pride in creating products and solutions that help solve business problems, anticipate needs, and discover opportunities to help you grow.



    Over the past 29 years, we've brought more than 55 products to the market. But, the R&D edge that drives this innovation isn't simple luck, it's the result of careful choice.
</p>
