@{
	ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Feel free to reach out to us with any questions or concerns.</p>

<p>
	Email: info@yourcompany.com<br>

	Phone: (123) 456-7890
</p>

<address>

	123 Main Street<br>

	City, State 12345<br>

	Country

</address>