@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our E-Commerce Site</h1>
    <p>Traverse through a variety of products to buy</a>.</p>
</div>
