@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>This site is guided by four principles:
    customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, 
    and long-term thinking. We strive to be Earth’s most customer-centric company, 
    Earth’s best employer,
    and Earth’s safest place to work.</p>
